#adventure-rank {
  .number-circle {
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    background-color: var(--ion-color-primary);
    p {
      font-weight: bold;
      color: white;
      margin: 0px;
    }
  }

  .toolbar-prize {
    --border-width: 0px;
    --background: transparent;
    div {
      background-color: var(--ion-color-warning);
      border-radius: 0 0 10px 10px;
      width: 100%;
      height: 44px;
      text-align: center;
      ion-label {
        color: black;
      }
      ion-note {
        color: black;
      }
      ion-icon {
        color: black;
      }
      ion-item {
        --background: transparent;
      }
    }
  }
}
