#timetable-page {
  .content {
    ion-slide.swiper-slide {
      align-items: flex-start;
      overflow-y: scroll;
      display: block;
      overflow: hidden;
      height: initial;
    }
  }

  ion-item {
    --color: white;
    p {
      color: white;
    }
    ion-icon {
      color: white;
    }
  }

  ion-chip {
    ion-label {
      --color: white;
    }
  }

  .lovewins1 {
    --background: #ca3231;
  }
  .lovewins2 {
    --background: #f39a3e;
  }
  .lovewins3 {
    --background: #f9ca47;
  }
  .lovewins4 {
    --background: #71c333;
  }
  .lovewins5 {
    --background: #4074e1;
  }
  .lovewins6 {
    --background: #aa62e0;
  }

  .blue1 {
    --background: #4db9ff;
  }
  .blue2 {
    --background: #13a4ff;
  }
  .blue3 {
    --background: #0084e1;
  }
  .blue4 {
    --background: #0067c1;
  }
  .blue5 {
    --background: #004e9e;
  }
  .blue6 {
    --background: #003779;
  }

  .green1 {
    --background: #83d64d;
  }
  .green2 {
    --background: #60ca33;
  }
  .green3 {
    --background: #4fab2a;
  }
  .green4 {
    --background: #3d881f;
  }
  .green5 {
    --background: #2b6314;
  }
  .green6 {
    --background: #153807;
  }
}
