#timetable-page {
  ion-slide.swiper-slide {
    align-items: flex-start;
    overflow-y: scroll;
    display: block;
    overflow: hidden;
    height: initial;
  }

  ion-item {
    --color: white;
    p {
      color: white;
    }
  }

  .lovewins1 {
    --background: #ca3231;
  }
  .lovewins2 {
    --background: #f39a3e;
  }
  .lovewins3 {
    --background: #f9ca47;
  }
  .lovewins4 {
    --background: #71c333;
  }
  .lovewins5 {
    --background: #4074e1;
  }
  .lovewins6 {
    --background: #aa62e0;
  }
}
